
/* DESKTOP DISPLAY */
/* DESKTOP DISPLAY */
/* DESKTOP DISPLAY */

.text-nav-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;


}


.link{
    display: inline;
    margin: 30px;
    font-size: 26px;
    text-decoration: none;
  }


  .picture-link{
    display: none;
  }
/* DESKTOP DISPLAY */
/* DESKTOP DISPLAY */
/* DESKTOP DISPLAY */




/* MID-SIZE DISPLAY */
/* MID-SIZE DISPLAY */
/* MID-SIZE DISPLAY */
@media (max-width: 1024px) {
  .text-nav-container
    {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }


.link{
    display: inline;
    margin: 30px;
    font-size: 18px;
  }

  .picture-link{
    display: none;
  }


  .protein-button,
  .fruit-button,
  .carb-button,
  .vegetable-button,
  .seasoning-button
  
  {
    padding: 10px;
    margin-left: auto;
  }

  .ingredients-nav{
    margin-right: 35px;
  }

}
/* MID-SIZE DISPLAY */
/* MID-SIZE DISPLAY */
/* MID-SIZE DISPLAY */






/* MOBILE DISPLAY */
/* MOBILE DISPLAY */
/* MOBILE DISPLAY */
  @media (max-width: 768px) {

    .link{
        display: none;
    }


    .icon-nav-container{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        z-index: 6;
        background-color: white;
        border-top: 3px solid black;
        display: flex;
        justify-content: space-evenly;
        
    }

    .picture-link{
        display: inline;
        padding: 10px;
        /* border: 1px solid black; */
    
    }

    
  }
/* MOBILE DISPLAY */
/* MOBILE DISPLAY */
/* MOBILE DISPLAY */
